
.species {
    background-image: url('https://images.pexels.com/photos/4801188/pexels-photo-4801188.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    z-index: -1;
}

.speciesList {
    display:flex;
margin-left:200px;
    padding: 20px;
    background-color:goldenrod;
    opacity: 0.7;
    width:400px;
    height: auto;
    border: 5px solid black;
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.speciesTitle {
  margin-left:200px;
    font-size:80px;
    font-family: 'Big Shoulders Display', cursive;
    color:white;
}

@font-face {
    font-family: 'Whale';
    src: local('Whale'), url(/make-summer-fun-font/MakeSummerFun-2Oggd.ttf)format('truetype');
  }

.home{
    display:flex;
    flex-flow: column wrap;
}

.home-h1{
    font-family: Whale;
    display: flex;
    justify-content: center;
}

.home-forms{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


form{
    display: flex;
    flex-flow: column wrap;
    
}

.species-form{
    display: flex;
    flex-flow: column wrap;
    background-color: purple;
    margin-right: 6%;
    width:30%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}

.locations-label {
    background-color: blue;
}

.species-label {
    background-color: blue;
}

.locations-form{
    display: flex;
    flex-flow: column wrap;
    background-color: purple;
    margin-left: 6%;
    width:30%;
    align-items: center;
    justify-content: space-evenly;

}

.locations-background {
  background-color: rgb(181, 237, 247);
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.locations-background > ul {
  list-style: none;
  background-color: rgb(77, 210, 214);
  border-style: solid;
  border-color: blanchedalmond;
  padding: 15px
}

.locations-spacing {
  border-style: solid;
  border-color: blanchedalmond;
  padding: 15px;
  margin: 10px;
}

